name = "ugboard-youtube-puller"
type = "javascript"

account_id = "YOUR_ACCOUNT_ID"
workers_dev = true
compatibility_date = "2026-01-11"

[triggers]
crons = ["*/30 * * * *"]

[vars]
ENGINE_BASE_URL = "https://your-engine-domain.com"
INTERNAL_TOKEN = "super-secret-internal-token"
MANUAL_TRIGGER_TOKEN = "super-secret-123"
